<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woof">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".accessories.singleAccessoryCard" />
        <activity android:name=".accessories.manage_accessory_single_item" />
        <activity android:name=".other.sellerProfile" /> <!-- Nimran -->
        <activity android:name=".other.userProfile" />
        <activity android:name=".dogs.selectedDogview" />
        <activity android:name=".dogs.viewAllpets" />
        <activity android:name=".dogs.uploadPet" />
        <activity android:name=".dogs.addDog" />
        <activity android:name=".dogs.manageMyDog" />
        <!-- Other -->
        <activity android:name=".other.registerSeller" />
        <activity android:name=".other.registerOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".other.register" />
        <activity android:name=".other.Login" />
        <activity android:name=".other.cart" />
        <activity android:name=".other.Home" /> <!-- Nethmini -->
        <activity android:name=".stories.mystories" />
        <activity android:name=".stories.stories" />
        <activity android:name=".stories.singleStoryView" />
        <activity android:name=".stories.stories2" /> <!-- Atchu -->

        <activity android:name=".reviews.clickReview" />
        <activity android:name=".reviews.reviewItem" />
        <activity android:name=".reviews.editReview" /> <!-- Nafeel -->
        <activity android:name=".accessories.updateAccessory" />
        <activity android:name=".accessories.manageAccessories" />
        <activity android:name=".accessories.uploadAccessory" />
        <activity android:name=".accessories.Accesories" />
        <activity android:name=".accessories.singleItemView" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>