<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woof">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Nimran -->
        <activity android:name=".dogs.single_dog_card" />
        <activity android:name=".dogs.manage_single_dog" />
        <activity android:name=".dogs.selectedDogview" />
        <activity android:name=".dogs.viewAllpets" />
        <activity android:name=".dogs.addDog" />
        <activity android:name=".dogs.manageMyDog"
            android:parentActivityName=".other.userProfile"/>
        <!-- Other -->
        <activity android:name=".other.sellerProfile" />
        <activity android:name=".other.userProfile" />
        <activity android:name=".other.registerSeller" />
        <activity android:name=".other.registerOptions">
        </activity>
        <activity android:name=".other.register" />
        <activity android:name=".other.Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".other.Home" />
        <!-- Nethmini -->
        <activity android:name=".stories.mystories"
            android:parentActivityName=".other.userProfile"/>
        <activity android:name=".stories.stories" />
        <activity android:name=".stories.singleStoryView" />
        <activity android:name=".stories.stories2" />
        <activity android:name=".stories.single_manage_mystories_card" />
        <activity android:name=".stories.manage_story_single_item" />
        <!-- Atchu -->
        <activity android:name=".reviews.clickReview" />
        <activity android:name=".reviews.reviewItem" />
        <activity android:name=".reviews.editReview" />
        <activity android:name=".other.cart" />
        <!-- Nafeel -->
        <activity android:name=".accessories.updateAccessory" />
        <activity android:name=".accessories.manageAccessories"
            android:parentActivityName=".other.sellerProfile"/>
        <activity android:name=".accessories.uploadAccessory"
            android:parentActivityName=".other.sellerProfile"/>
        <activity android:name=".accessories.Accesories" />
        <activity android:name=".accessories.singleItemView" />
        <activity android:name=".accessories.singleAccessoryCard" />
        <activity android:name=".accessories.manage_accessory_single_item"
            android:parentActivityName=".accessories.manageAccessories"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>