<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woof">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Nethmini-->
        <activity android:name=".stories.mystories">

        </activity>
        <activity android:name=".stories.stories"></activity>
        <activity android:name=".stories.singleStoryView">
        </activity>
        <activity android:name=".stories.stories2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Nimran-->
        <activity android:name=".dogs.selectedDogview">

        </activity>
        <activity android:name=".dogs.viewAllpets"></activity>
        <activity android:name=".dogs.viewMypet"></activity>
        <activity android:name=".dogs.uploadPet"></activity>
        <activity android:name=".dogs.addDog" ></activity>

        <!--Atchu-->
        <activity android:name=".reviews.clickReview">
        </activity>
        <activity android:name=".reviews.reviewItem">
        </activity>
        <activity android:name=".reviews.editReview">
        </activity>

        <!--Nafeel-->
        <activity android:name=".accessories.updateAccessory" />
        <activity android:name=".accessories.manageAccessories" >

        </activity>
        <activity android:name=".accessories.uploadAccessory">
        </activity>
        <activity android:name=".accessories.Accesories" />
        <activity android:name=".accessories.singleItemView">
        </activity>


    </application>

</manifest>